html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title 은행잎필무렵
        //Bootstrap core CSS
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        //Add custom CSS here
        link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    body(style='')
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .col-md-6.col-md-offset-3.navDiv
                button.btn.btn-lg.btn-block.logout(onclick='location.href=\'/user/logout\';')  로그아웃
                #title(onclick = 'toMain()')
                    | 은행잎필무렵
                button.btn.btn-lg.btn-block.user(onclick='location.href=\'/user/review\';')  고객센터
        #newCardButton(onclick ='newCard()')
            | ↑ 새로운 소식
        .container
            .row
                .col-md-6.col-md-offset-3.writePostCard
                    #introduction
                        | 모든 글은 익명으로 작성되며, 24시간 후 지워집니다. (개별 삭제는 고객센터에 문의해주세요)
                    #notice
                        | 글쓰기 문화와 관련하여 공지 드립니다.
                        br
                        | 성균인으로서 서로에게 존중을 표하고, 예의를 지켜주시기 바랍니다. 감사합니다.
                        br
                        | (문제가 있는 글은 운영자 재량으로 삭제될 수 있습니다. 신고 기능 도입을 기다려주세요.)
                    #writePost
                        form.writeCommit(method ='post', role='form', action = '/card/add')
                            textarea#postTextArea.simple(rows='3', cols='60', type='text', name='body')
                            button#writeButton.btn.btn-lg.btn-primary.btn-block(type='submit')  글쓰기
                            #newCardStart
        .container
            .row
                .col-md-6.col-md-offset-3.cardList
                    each card in cards
                        if(card.report < 7 || card.report === undefined || card.report === null)
                            .card
                                .cardInfomation
                                    .cardNum
                                        | No.#{card._id}
                                    .cardCommitTime
                                        | #{card.date}
                                if (card.isAdmin === true)
                                    .cardBody(style='color: #E85247;')
                                        | !{card.body}
                                else
                                    .cardBody
                                        | !{card.body}
                                .cardStatus
                                    .commitCount
                                        | 댓글 #{card.comments.length}개
                                    .likeCount
                                if (card.isAdmin === true)
                                else
                                    .report(onclick='location.href=\'/card/#{card._id}/report\';')
                                        | 신고
                                .cardComment
                                    .commentList
                                        each comment in card.comments
                                            if (comment.isAdmin === true)
                                                .comment(style='color: #E85247;')
                                                    | !{comment.body}
                                            else
                                                if(card.user === comment.user)
                                                    .comment(style='color: #5C81E8;')
                                                        | !{comment.body}
                                                else
                                                    .comment
                                                        | !{comment.body}
                                    form.commentCommit(action = '/card/#{card._id}/comment/add', method = 'post', role='form')
                                        input(type='hidden', name='cardId', value='#{card._id}')
                                        textarea.commentBody(rows='1', cols='20', type='text', name='commentBody')
                                        button.btn.btn-lg.btn-block.commentButton(type='submit')  댓글
                        else if (card.report === 7)
                            .card(style='background-color : #F2D7D7;')
                                .cardInfomation
                                    .cardNum
                                        | No.#{card._id}
                                    .cardCommitTime
                                        | #{card.date}
                                if (card.isAdmin === true)
                                    .cardBody(style='color: #E82C0C;')
                                        | !{card.body}
                                else
                                    .cardBody
                                        | !{card.body}
                                .cardStatus
                                    .commitCount
                                        | 댓글 #{card.comments.length}개
                                    .likeCount
                                    .report(onclick='location.href=\'/card/#{card._id}/report\';')
                                        | 신고
                                .cardComment
                                    .commentList
                                        each comment in card.comments
                                            if (comment.isAdmin === true)
                                                .comment(style='color: #E85247;')
                                                    | !{comment.body}
                                            else
                                                if(card.user === comment.user)
                                                    .comment(style='color: #5C81E8;')
                                                        | !{comment.body}
                                                else
                                                    .comment
                                                        | !{comment.body}
                                    form.commentCommit(action = '/card/#{card._id}/comment/add', method = 'post', role='form')
                                        input(type='hidden', name='cardId', value='#{card._id}')
                                        textarea.commentBody(rows='1', cols='20', type='text', name='commentBody')
                                        button.btn.btn-lg.btn-block.commentButton(type='submit')  댓글
                        else if (card.report === 8)
                            .card(style='background-color : #FF8D8F;')
                                .cardInfomation(style='color: #666363;')
                                    .cardNum
                                        | No.#{card._id}
                                    .cardCommitTime
                                        | #{card.date}
                                .cardBody(style='color: #666363;')
                                    | !{card.body}
                                .cardStatus
                                    .commitCount
                                        | 댓글 #{card.comments.length}개
                                    .likeCount
                                    .report(onclick='location.href=\'/card/#{card._id}/report\';')
                                        | 신고
                                .cardComment
                                    .commentList
                                        each comment in card.comments
                                            if (comment.isAdmin === true)
                                                .comment(style='color: #E85247;')
                                                    | !{comment.body}
                                            else
                                                if(card.user === comment.user)
                                                    .comment(style='color: #5C81E8;')
                                                        | !{comment.body}
                                                else
                                                    .comment
                                                        | !{comment.body}
                                    form.commentCommit(action = '/card/#{card._id}/comment/add', method = 'post', role='form')
                                        input(type='hidden', name='cardId', value='#{card._id}')
                                        textarea.commentBody(rows='1', cols='20', type='text', name='commentBody')
                                        button.btn.btn-lg.btn-block.commentButton(type='submit')  댓글
                        else if (card.report === 9)
                            .card(style='background-color : #FF5955;')
                                .cardInfomation(style='color: #5E5C5C;')
                                    .cardNum
                                        | No.#{card._id}
                                    .cardCommitTime
                                        | #{card.date}
                                .cardBody(style='color: #5E5C5C;')
                                    | !{card.body}
                                .cardStatus
                                    .commitCount
                                        | 댓글 #{card.comments.length}개
                                    .likeCount
                                    .report(onclick='location.href=\'/card/#{card._id}/report\';')
                                        | 신고
                                .cardComment
                                    .commentList
                                        each comment in card.comments
                                            if (comment.isAdmin === true)
                                                .comment(style='color: #E85247;')
                                                    | !{comment.body}
                                            else
                                                if(card.user === comment.user)
                                                    .comment(style='color: #5C81E8;')
                                                        | !{comment.body}
                                                else
                                                    .comment
                                                        | !{comment.body}
                                    form.commentCommit(action = '/card/#{card._id}/comment/add', method = 'post', role='form')
                                        input(type='hidden', name='cardId', value='#{card._id}')
                                        textarea.commentBody(rows='1', cols='20', type='text', name='commentBody')
                                        button.btn.btn-lg.btn-block.commentButton(type='submit')  댓글
                        else if (card.report >= 10)
                            .card(style='background-color : #4C4747;')
                                .cardInfomation
                                    .cardNum
                                        | No.#{card._id}
                                    .cardCommitTime
                                        | #{card.date}
                                .cardBody(style='color: #BDB0AE;')
                                    | 신고가 10개가 넘어 펑! 터진 글이에요
                                .cardStatus
                                    .commitCount
                                        | 댓글 #{card.comments.length}개
                                    .likeCount
                                .cardComment
                                    .commentList
                                        each comment in card.comments
                                            if (comment.isAdmin === true)
                                                .comment(style='color: #E85247;')
                                                    | !{comment.body}
                                            else
                                                if(card.user === comment.user)
                                                    .comment(style='color: #5C81E8;')
                                                        | !{comment.body}
                                                else
                                                    .comment
                                                        | !{comment.body}
        footer
            .col-md-6.col-md-offset-3
                | © 2014 &nbsp
                b 은행잎필무렵.
                | &nbsp All rights reserved.
        //JavaScript
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='/javascripts/main.js')
        script(src='/javascripts/googleAnalytics.js')

